<h1>FIFO TODOs</h1>

<%= render 'form' %>

<hr/>

<ul>
  <% @tasks.each do |task| %>
    <li>
      [<%= task.priority %>] <%= task.title %> <%= link_to 'skip', skip_path(task), method: :put %>
  </li>
<% end %>
</ul>
